

$explorer-color: #027887;
$swipe-color: #5E2D35;
$matcher-color:#027;
$features-color:#EEE;

$color-1: #184F5C;
$color-2: #5E2D35;
$color-3: #027;
$color-4: #9A6D36;
$color-5: #41642A;
$color-6: #077568;


.sprite {
	width: 102px;
	height: 148px;
	margin-top: 40px;
}

.right {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/standing-right.png);
}

.left {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/standing-left.png);
}

.walk-right {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/walk-right.png);
	-webkit-animation: walk .9s steps(6) infinite;
	-moz-animation: walk .9s steps(6) infinite;
	-ms-animation: walk .9s steps(6) infinite;
	-o-animation: walk .9s steps(6) infinite;
	animation: walk .9s steps(6) infinite;
}

.walk-left {
	background-image: url(http://atomicrobotdesign.com/blog_media/css-sprite/walk-left.png);
	-webkit-animation: walk .9s steps(6) infinite;
	-moz-animation: walk .9s steps(6) infinite;
	-ms-animation: walk .9s steps(6) infinite;
	-o-animation: walk .9s steps(6) infinite;
	animation: walk .9s steps(6) infinite;
}

@-webkit-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-moz-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-ms-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-o-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}
@-keyframes walk {
	from { background-position: 0px; }
	to { background-position: -612px; }
}

.gb-wall-graphics {
 @include position(fixed, 0 0 0 0);
}

.gb-wall-canvas {
 @include position(fixed, 0 0 0 0);
 background-size: 100% auto;
 height: 100%;
 min-height: 100%;
 max-height: 100%;
 background-color: #ECEFF1;
 position: relative;
 padding: 0;
 overflow: hidden;

 &.gb-day-1 {
  //background-image: url(../../../src/assets/images/backgrounds/background-1.jpg);

  .gb-wall {
   @include position(absolute, 120px 0 0 0);
   .gb-column {
    position: relative;
    background: url(../../../src/assets/images/backgrounds/column-1.png);
    background-size: auto 100%;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    overflow: hidden;
    .gb-card-ads-1 {
     margin: 0;
     padding: 5px;
     @include position(absolute, 120px 4px 0 4px);
    }
    .gb-card-ad-1 {
     background-color: #FFF;
    }
   }
  }
 }
 &.ct-grass-2 {
  background-image: url(../../../src/assets/images/backgrounds/grass-2.jpg);
 }
 &.ct-grass-3 {
  background-image: url(../../../src/assets/images/backgrounds/grass-3.jpg);
 }
 &.ct-grass-4 {
  background-image: url(../../../src/assets/images/backgrounds/grass-4.jpg);
 }
}

.gb-background {
 &.gb-tree-1 {
  background-image: url(../../../src/assets/images/backgrounds/grass-4.jpg);
 }
 &.gb-tree-2 {
  background-image: url(../../../src/assets/images/backgrounds/grass-3.jpg);
 }
 &.gb-tree-3 {
  background-image: url(../../../src/assets/images/backgrounds/grass-1.jpg);
 }
}

.gb-welcome-section-1 {
 padding: 20px 0;
 background-color: #FFF;
}

.gb-welcome-section-3,
.gb-welcome-section-4,
.gb-welcome-section-5,
.gb-welcome-section-6 {
 height: 100%;
 min-height: 100%;
 max-height: 100%;
 background-color: #ECEFF1;
 position: relative;
 padding: 0;
 overflow: hidden;
 .gb-wall-h {
  height:10px;
 }
 .gb-door {
  padding-top: 90px;
  height:120px;
  width: 120px;
  z-index: 2;
  .gb-title {
   font-size: 14px;
   color: material-color('blue-grey', '600');
  }
  .gb-icon {
   font-size: 30px;
   color:  material-color('blue-grey', '600');
  }
  @include respond-to (gb-xs) {
   padding-top: 45px;
   height:90px;
   width: 90px;
   -moz-border-radius: 0 90px 0 0;
   border-radius: 0 90px 0 0;

   .gb-title {
    font-size: 12px;
    margin-bottom: 5px;
   }
   .gb-icon {
    font-size: 18px;
   }
  }
 }
 .gb-app-widget {
  box-shadow: $whiteframe-shadow-2dp;
  //border: material-color('blue-grey', '800') double 3px;
  background-color:  rgba(material-color('blue-grey', '200'), 0.3);
  &:hover {
   // border: material-color('blue-grey', '900') double 3px;
   background-color:  rgba(material-color('blue-grey', '400'), 0.3);
  }
 }
 .gb-card-heading-1 {
  .gb-title {
   color: #000;
  }
  .gb-description {
   color: #000;
  }
 }
 @include respond-to (gb-xs) {
  padding: 20px 0 140px 0;
 }
}

.gb-welcome-section-3 {
 background: url(../../../src/assets/images/landing-page/background-6.jpg);

 padding-top: 120px;
 //background-color: rgba(material-color('blue-grey', '50'), 0.5);
 .gb-door {
  border: material-color('blue-grey', '600') solid 2px;
  border-left: material-color('blue-grey', '600') solid 6px;
  border-bottom: #ECEFF1 solid 10px;

  &.gb-door-top {
   @include position(absolute, -28px null null 50%);
   padding-top: 0px;
   -moz-border-radius: 0 0 120px 0;
   border-radius: 0 0 120px 0;
   border: material-color('blue-grey', '600') solid 2px;
   border-left: material-color('blue-grey', '600') solid 6px;
   border-top: #ECEFF1 solid 30px;

   .gb-title {
    @include position(absolute, -28px 0 null 0);
   }
   .gb-icon {
    @include position(absolute,  10px 0 null 0);
   }
   @include respond-to (gb-xs) {
    padding-top: 0px;
    -moz-border-radius: 0 0 90px 0;
    border-radius: 0 0 90px 0;
   }
  }
 }
 .gb-app-widget {
  // border: material-color('blue-grey', '300') solid 1px;
 }
 @include respond-to (gb-xs) {
  padding-top: 90px;
 }
}

.gb-welcome-section-4 {
 background: url(../../../src/assets/images/backgrounds/grass-2.jpg);

}

.gb-welcome-section-5 {
 //background-color: #F2F2F2;
 .gb-door {
  -moz-border-radius: 0 120px 0 0;
  border-radius: 0 120px 0 0;
  border: material-color('blue-grey', '500') solid 1px;
  border-left: material-color('blue-grey', '500') solid 5px;
  border-bottom: #FFF solid 10px;
 }
}
.gb-welcome-section-6 {
 background-color: #FFF;
}

.gb-welcome-section-2 {
 position: relative;
 padding: 20px 0;
 background-color: #F0F0F0;
 .gb-house-tools {
  z-index: 1;
 }
 .gb-house-background-icon {
  //@include position(absolute, 0 0 0 0);
  font-size: 5002px;
  z-index:0;
 }
}

.gb-title {
 //margin:30px 10px 30px;
}

.gb-get-started {
 padding: 100px 0;
 background-color: $color-1;
 color: #EEE;
 h2 {
  color: #DDD;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
 }
 p {
  color: #DDD;
  text-align: center;
  font-size: 20px;
 }
 .gb-btn-container {
  position: relative;
  margin-top: 30px;
  .btn-toolbar {
   @include position(absolute, 50% null null 50%);
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%, -50%);
   margin-top: 30px;
   display: inline-block;
   border: #888 solid 1px;
   background-color: rgba(darken($gb-primary-color, 15%), 0.6);
   padding: 10px;
   .btn {
    border-radius: 0;
    text-decoration: none;
    width: 150px;
   }
   .btn.gb-beta-btn {
    background-color: #79AA72;
    color: #FFF;
   }
   .gb-or {
    padding: 7px 6px 0 10px;
    font-weight: 600;
    float: left;
    color: #BBB;
   }
  }
 }
}


.gb-lp-footer {
 background-color: #E2E2E2;
 color: #777;
 padding: 40px 10px;
 font-size: 15px;
 text-align: center;
}





