<div class="gb-wall-canvas gb-day-1" layout="column" layout-align="start start" flex
     ng-click="vm.getComponent($event)"
     ng-class="vm.component.background_class">
 <div class="gb-cat-holder"  layout="column" layout-align="center center">
  <img ng-src="src/assets/images/animals/{{vm.component.component_picture_url}}" alt=""
       ng-style="vm.component.pictureStyle">
 </div>
 <div ng-if="false" class="ct-food-row">
  <div class="" layout="row" layout-align="start center" flex>
   <div class="p-8" ng-repeat="food in vm.foods.options" layout-fill>
    <div class="ct-widget-food-item"
         layout="column" layout-align="center center"
         ng-class="{
            'active': vm.foods.selected.animal == = food.animal}"
         ng-click="vm.chooseFood(food); $event.stopPropagation()" flex="25">
     <img ng-src="src/assets/images/food/{{food.picture_url}}" alt="">
    </div>
   </div>
  </div>
 </div>
 <div class="gb-wall">
  <div hide class="sprite right"></div>
  <div class="gb-horizontal-scroll gb-columns-scroll" layout="column" layout-align="start stretch">
   <md-button class="gb-left-scroll"
              ng-click="$root.scrollHorizontal('#gb-featured', -400)"aria-label="Scroll Left">
    <md-icon md-font-icon="icon-chevron-left"></md-icon>
   </md-button>
   <div id="gb-featured" class="board-list flex-scrollable only-x"
        layout="row" layout-align="start" ms-scroll flex layout-nowrap>
    <div class="gb-column" ng-repeat="column in vm.columns"
         ng-class="column.columnClass">
    </div>
   </div>
   <md-button class="gb-right-scroll"
              ng-click="$root.scrollHorizontal('#gb-featured', 400)"aria-label="Scroll Left">
    <md-icon md-font-icon="icon-chevron-right"></md-icon>
   </md-button>
  </div>
 </div>
</div>